@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model Features.Testimony.Models.ViewModels.TestimonyCarouselBlockViewModel

<section class="ftco-section testimony-section slash">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading">@Html.PropertyFor(m => m.SubHeading)</span>
                <h2 class="mb-4">@Html.PropertyFor(m => m.Heading)</h2>
            </div>
        </div>
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    @Html.PropertyFor(m => m.Testimonies)
                </div>
            </div>
        </div>
    </div>
</section>
