@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model Feature.RichText.Models.Blocks.RichTextBlock

<section class="sample-text-area">
    <div class="container box_1170">
        @Html.PropertyFor(m => m.Content)
    </div>
</section>