@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model Features.RichText.Models.Blocks.RichTextBlock

<section class="ftco-section intro">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                @Html.PropertyFor(m => m.Content)
            </div>
        </div>
    </div>
</section>